[Unit]
Description=Flask Application
After=network.target

[Service]
User=root
WorkingDirectory=/home/scraper
ExecStart=/home/scraper/venv/bin/python /home/scraper/scraper.py
Restart=always

[Install]
WantedBy=multi-user.target
